@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #395b99;
  --statuscolorupdate: #d87225;
  --statuscolorreject: #d1202a;
  font-family: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}
/* input file text css  */
input[type="file"] {
  color: #000; /* Sets the text color to black for better visibility */
  background-color: #f0f0f0; /* Light background for contrast */
  border: 1px solid #ccc; /* Add a border for better definition */
  padding: 5px;
  border-radius: 4px;
  font-family: Arial, sans-serif; /* Ensure readable font */
}

input[type="file"]::-webkit-file-upload-button {
  color: #fff; /* Text color of the button */
  background-color: #395b99; /* Button background color */
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #395b99; /* Darker shade on hover */
}
